<% include('partials/head'); %>

<title>title</title>
</head>

<body>
    <div class="main-container container justify-content-center">

        <% include('partials/header-logo'); %>

        <section class="content-block container">

            <div class="row">
                <div class="slogan">this is LAB TESTS page.</div>
                <div class="sub-slogan">All the information about your plant providet by our in hous labs</div>
            </div>


          

        </section>

        <% include('partials/footer-navigation'); %>
    </div>

    <!-- Optional JavaScript -->

    
    <% include('partials/bottom'); %>