<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="fonts\font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel="stylesheet" href="css\global.css">

    <title>LAB tests</title>
</head>

<body>
    <!-- <center> -->
    <div class="main-container container justify-content-center">

        <header class="container">
            <div class="row">
                <div class="bg-head col-md text-center">
                    <!-- <img class="bg_head" src="./img/header.png" alt=""> -->
                    <img class="logo" src="img\logo.png" alt="">
                    <div class="logo-title">Culception</div>
                    <div class="logo-sub">the next cultivation era</div>
                </div>
            </div>
        </header>


        <section class="content-block container">

                <div class="row">
                    <div class="slogan">LAB TEST</div>
                    <div class="sub-slogan">All the information about your plant providet by our in hous labs</div>
                </div>

        </section>

        <footer class="container justify-content-center">

            <ul class="nav row">
                <li class="col m-1">
                    <div class="copyright row">All rights reserved for Culception, StreetName 34, Herzliya.</div>
                    <!-- <div class="copyright row">StreetName 34, Herzliya.</div> -->
                    <div class="copyright row mt-1">Find us:</div>
                    <div class="row mt-1 find">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                </li>
                <li id="btn-my-package" onclick="navItem(this), location.href='/'" class="nav-item col-2 text-center" name="nav-item">
                    <div class="fa fa-cube" aria-hidden="true"></div>
                    <!-- <div class="fa fa-inbox" aria-hidden="true"></div> -->
                    <div class="nav-text">my package</div>
                </li>
                <li id="btn-lab-tests" onclick="navItem(this)" class="nav-item col-2 text-center active" name="nav-item">
                    <div class="fa fa-flask" aria-hidden="true"></div>
                    <div class="nav-text">lab tests</div>
                </li>
                <li id="btn-more-info" onclick="navItem(this)" class="nav-item col-2 text-center" name="nav-item">
                    <div class="fa fa-info-circle" aria-hidden="true"></div>
                    <div class="nav-text">more info</div>
                </li>
                <li id="btn-share" onclick="navItem(this)" class="nav-item col-2 text-center" name="nav-item">
                    <div class="fa fa-share-alt" aria-hidden="true"></div>
                    <div class="nav-text">share</div>
                </li>
            </ul>

        </footer>
    </div>
    <!-- </center> -->

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery\dist\jquery.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script> -->
    <script src="@popperjs\core\dist\umd\popper.min.js"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script> -->
    <script src="bootstrap\dist\js\bootstrap.min.js"></script>
    <script>
           

        //nav items
        let navItems = document.querySelectorAll('.nav-item');
        console.log(navItems);

        const navItem = (item) => {

            navItems.forEach(el => {
                if (!el.classList == 'active') {
                    // el.classList.remove("active");
                    item.classList.add("active");
                } else {
                    el.classList.remove("active");
                }
            });

        }
    </script>
</body>

</html>