<%# include('partials/head'); %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *;
    img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
    style-src  'self' 'unsafe-inline' *"> -->
    <link rel="icon" href="img\logo.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="fonts\font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel="stylesheet" href="css\global.css">
<title><%- title %></title>
</head>

<body>
    <div class="main-container container justify-content-center">

        <%- include('partials/header-logo'); %>

        <section class="content-block container">

            <div class="row">
                <div class="slogan">this is MORE INFO page.</div>
                <div class="sub-slogan">All the information about your plant providet by our in hous labs</div>
            </div>


          

        </section>

        <%- include('partials/footer-navigation'); %>
    </div>

    <!-- Optional JavaScript -->

    
    <%# include('partials/bottom'); %>
    

    <script src="jquery\dist\jquery.slim.min.js"></script>
    <script src="@popperjs\core\dist\umd\popper.min.js"></script>
    <script src="bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="js\main.js"></script>
</body>
</html>