 <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="jquery\dist\jquery.slim.min.js"></script>
        <script src="@popperjs\core\dist\umd\popper.min.js"></script>
        <script src="bootstrap\dist\js\bootstrap.min.js"></script>
        <script src="js\main.js"></script>
    </body>
    </html>