<header class="container">
    <div class="row">
        <div class="bg-head col-md text-center">
            <!-- <img class="bg_head" src="./img/header.png" alt=""> -->
            <img class="logo" src="..\img\logo.png" alt="">
            <div class="logo-title">Culception</div>
            <div class="logo-sub">the next cultivation era</div>
        </div>
    </div>
</header>